{% extends 'base.html.twig' %}

{% block body %}
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        bal
        <p>Username: {{ business.username }}</p>
        <p>Nom: {{ business.name }}</p>
        <p>Adresse: {{ business.address }}</p>
{% endblock %}